.dropdown-content {
	display: none;
}

.dropdown-container1:hover .dropdown-content {
	display: block;
}

.dropdown-container2:hover .dropdown-content {
	display: block;
}

.dropdown-container3:hover .dropdown-content {
	display: block;
}

.dropdown-container4:hover .dropdown-content {
	display: block;
}

#deconnexion {
	position: absolute;
    bottom: 0;
}

.pagination-centered {
    text-align: center;
}

.disabled {
    pointer-events: none;
    opacity: 0.5;
}

.pointer-disabled {
    pointer-events: none;
}

.materielForm {
	position: relative;
}