<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
<link rel="icon" type="image/png" href="/img/favicon.png">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>INVENTAIRE</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css"
	rel="stylesheet">
<!-- CSS Files -->
<link href="/css/bootstrap.min.css" rel="stylesheet" />
<link href="/css/now-ui-dashboard.css?v=1.0.1" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="/demo/demo.css" rel="stylesheet" />
<!-- My CSS -->
<link href="/css/navigation.css" rel="stylesheet" />
<!-- google -->
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body class="">
	<div class="wrapper">
		<!-- begin left Menu -->
		<div th:replace="fragments/leftMenu :: leftMenu"></div>
		<!-- end left Menu -->
		<div class="main-panel">
			<!-- Navbar -->
			<div th:replace="fragments/navBar :: navbar"></div>
			<!-- End Navbar -->
			<div class="panel-header panel-header-sm"></div>
			<!-- Begin Table -->
			<div class="content">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title">Liste des demandes</h4>
							</div>
							<div class="card-body">
								<div class="table-responsive">
									<table class="table">
										<thead class=" text-primary">
											<th>Categorie</th>
											<th>Type</th>
											<th>Quantite</th>
											<th>dateSouhaitee</th>
											<th>Demandeur</th>
											<th>EmailDemandeur</th>
											<th>Etat</th>
											<th>Accepter</th>
											<th>Refuser</th>
										</thead>
										<tbody>
											<tr th:each="demande : ${demandes}">
												<td th:text="${demande.typeCategorie}"></td>
												<td th:text="${demande.type}"></td>
												<td th:text="${demande.quantite}"></td>
												<td th:text="${demande.dateSouhaitee}"></td>
												<td th:text="${demande.demandeur}"></td>
												<td th:text="${demande.emailDemandeur}"></td>
												<td th:text="${demande.etat}"></td>
												<td><a class="btn btn-success"
													th:href=@{/demande/accepter(q=${demande.demandeId})}>
														<img src="/img/icons/accepter.png" height = "15px"/>
												</a></td>
												<td class="text-right"><a class="btn btn-danger"
													th:href=@{/demande/refuser(q=${demande.demandeId})}>
													<img src="/img/icons/refuser.png" height = "15px"/></a></td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Table -->
			<div class="row">
				<div class="col-md-12">
					<div>
						<ul class="nav nav-pills" id="barPagination">
							<li class="nav-item"
								th:each="i : ${#numbers.sequence(0,demandes.totalPages-1)}">
								<a class="nav-link" th:text="${i}"
								th:href="@{/demande(p=${i})}"
								th:classappend="${currentPage}==${i}?'active':''"></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- footer -->
			<div th:replace="fragments/footer :: footer"></div>
			<!-- End footer -->
		</div>
	</div>
</body>
<!--   Core JS Files   -->
<script src="/js/core/jquery.min.js"></script>
<script src="/js/core/popper.min.js"></script>
<script src="/js/core/bootstrap.min.js"></script>
<script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
<!--  Google Maps Plugin    -->
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!-- Chart JS -->
<script src="/js/plugins/chartjs.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
<script src="/js/now-ui-dashboard.js?v=1.0.1"></script>
<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
<script src="/demo/demo.js"></script>
<script src="/js/pagination.js"></script>

</html>
